In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
df = df.drop(['Id'],axis=1)

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
df['Species'] = df['Species'].map({"Iris-setosa":0,"Iris-versicolor":1,"Iris-virginica":2})

In [8]:
X = df.iloc[: , :-1]
y = df.iloc[: , -1]
z = 'Species'

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33 , random_state=42)

In [10]:
X_train.shape

(100, 4)

In [11]:
X_test.shape

(50, 4)

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import ReLU,LeakyReLU,PReLU,ELU

In [13]:
model = Sequential()
model.add(Dense(100,input_shape =(4,),activation = 'relu'))
model.add(Dense(3, activation = 'softmax'))

In [14]:
model.compile(optimizer = 'adam' , loss = 'sparse_categorical_crossentropy' , metrics = ['accuracy'])

In [15]:
model.fit(X_train,y_train ,epochs =20)

Epoch 1/20
4/4 [==============================] - 0s 1ms/step - loss: 1.7180 - accuracy: 0.3000
Epoch 2/20
4/4 [==============================] - 0s 1ms/step - loss: 1.4659 - accuracy: 0.0200
Epoch 3/20
4/4 [==============================] - 0s 1000us/step - loss: 1.3015 - accuracy: 0.0000e+00
Epoch 4/20
4/4 [==============================] - 0s 1ms/step - loss: 1.2068 - accuracy: 0.1900
Epoch 5/20
4/4 [==============================] - 0s 2ms/step - loss: 1.1692 - accuracy: 0.3300
Epoch 6/20
4/4 [==============================] - 0s 1ms/step - loss: 1.1300 - accuracy: 0.3400
Epoch 7/20
4/4 [==============================] - 0s 2ms/step - loss: 1.0966 - accuracy: 0.3300
Epoch 8/20
4/4 [==============================] - 0s 963us/step - loss: 1.0659 - accuracy: 0.4200
Epoch 9/20
4/4 [==============================] - 0s 2ms/step - loss: 1.0359 - accuracy: 0.4500
Epoch 10/20
4/4 [==============================] - 0s 1ms/step - loss: 1.0076 - accuracy: 0.4100
Epoch 11/20
4/4 [==============================] - 0s 2ms/step - loss: 0.9823 - accuracy: 0.3700
Epoch 12/20
4/4 [==============================] - 0s 960us/step - loss: 0.9483 - accuracy: 0.3900
Epoch 13/20
4/4 [==============================] - 0s 1ms/step - loss: 0.9127 - accuracy: 0.6800
Epoch 14/20
4/4 [==============================] - 0s 976us/step - loss: 0.8851 - accuracy: 0.8700
Epoch 15/20
4/4 [==============================] - 0s 2ms/step - loss: 0.8631 - accuracy: 0.8600
Epoch 16/20
4/4 [==============================] - 0s 933us/step - loss: 0.8518 - accuracy: 0.7600
Epoch 17/20
4/4 [==============================] - 0s 1ms/step - loss: 0.8299 - accuracy: 0.7800
Epoch 18/20
4/4 [==============================] - 0s 2ms/step - loss: 0.8065 - accuracy: 0.8900
Epoch 19/20
4/4 [==============================] - 0s 1ms/step - loss: 0.7875 - accuracy: 0.8200
Epoch 20/20
4/4 [==============================] - 0s 2ms/step - loss: 0.7684 - accuracy: 0.7700

In [16]:
model.evaluate(X_test,y_test)

2/2 [==============================] - 0s 2ms/step - loss: 0.7382 - accuracy: 0.8400

[0.7381563782691956, 0.8399999737739563]

In [17]:
pred = model.predict(X_test[:10])

In [18]:
pred

array([[0.14757118, 0.42672706, 0.42570174],
       [0.49585125, 0.26795122, 0.23619756],
       [0.06722127, 0.36492696, 0.56785184],
       [0.15320106, 0.39377713, 0.45302182],
       [0.15137771, 0.43272635, 0.4158959 ],
       [0.48721558, 0.27131853, 0.24146593],
       [0.21126127, 0.39086863, 0.3978701 ],
       [0.12467185, 0.34457502, 0.5307531 ],
       [0.14701678, 0.41488847, 0.43809482],
       [0.19168565, 0.41427   , 0.3940443 ]], dtype=float32)

In [19]:
a = np.argmax(pred , axis =1)

In [20]:
a

array([1, 0, 2, 2, 1, 0, 2, 2, 2, 1], dtype=int64)

In [21]:
for i in a:
    print('Predicted class: {} , Name: {}'.format(i,z[i]))

Predicted class: 1 , Name: p
Predicted class: 0 , Name: S
Predicted class: 2 , Name: e
Predicted class: 2 , Name: e
Predicted class: 1 , Name: p
Predicted class: 0 , Name: S
Predicted class: 2 , Name: e
Predicted class: 2 , Name: e
Predicted class: 2 , Name: e
Predicted class: 1 , Name: p